/* Responsive */
@media screen and (max-width: 600px) {
    /* header */
    header nav a.logo h1 {
        font-size: 20px;
    }
    header nav .headericon {
        display: inline;
    }
    header nav ul.main-menu {
        display:none;
    }
    /* main-banner start */
    .main-banner h1 {
        font-size: 22px;
        padding-top: 20px;
    }
    .main-banner p {
        font-size: 14px;
        margin: 20px 0px;
        padding: 0% 25%;
    }
    .main-banner .main-banner-input-area{
        width: 100%;
        padding: 40px 30px 40px 10px;
    }
    .main-banner .main-banner-input-area {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .main-banner .main-banner-input-area .main-banner-input-field {
        width: 100%;
    }

    /* Popular tour start */
    .popular-tour {
        padding: 20px;
    }
    .popular-tour .container {
        display: flex;
        flex-direction: column;
    }
    .popular-tour-left h1 {
        font-size: 20px;
    }
    .popular-tour-left p {
        font-size: 14px;
    }
    .popular-tour-left ul {
        font-size: 14px;
    }

    /* Popular tour end */
    /* <!-- news letter start--> */
    .newsletter-section {
        display: flex;
        flex-direction: column;
    }
    .left-newsletter {
        width: 100%;
        margin: 10px;
    }
    .right-newsletter {
        width: 100%;
    }
    .right-newsletter img {
        width: 100%;
        height: 300px;
        margin: 10px;
    }
    /* <!-- news letter end--> */
    /* hero-travels start */
    .hero-travels {
        margin: 0px;
    }
    .hero-travels a.logo {

    }
    .hero-travels a.logo img.main-logo{
        width: 24px;
    }
    .hero-travels a.logo h1 {
        font-size: 22px;
    }
    .hero-travels p {
        font-size: 14px;
    }
    /* hero-travels end */
    /* footer start */
    footer {
        width: 100%;
        margin: 0px;
        background-color: #F3F3F3;
        font-size: 14px;
    }
    /* footer end */
}

