*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
/* variables start */
:root {
    --whitebg-color: #fff;
    --primary-color: #FF5400;
    --title-color: #131318;
    --para-color: #5A5A5D;
    --title-size: 40px;
    --para-size: 16px;
}
/* variables end */
body {
    width: 100%;
    background-color: var(--whitebg-color);
    color: var(--para-color);
    font-family: 'Mulish', sans-serif;
    font-size: var(--para-size);
    font-weight: 400;
}
.container{
    width: 1170px;
    margin: auto;
}

/* header */
header nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
header nav a.logo{
    display: flex;
}
header nav a.logo img.main-logo{
    width: 48px;
    padding-right: 10px;
}
header nav a.logo h1 {
    color: var(--title-color);
    font-size: 36px;
}
header nav a.logo h1 span {
    color: var(--primary-color);
}

header nav .headericon {
    display: none;
}
header nav ul.main-menu {
    display: flex;
}
header nav ul.main-menu a {
    color: var(--para-color)
}
header nav ul.main-menu a:hover {
    color: var(--primary-color);
    font-size: 18px;
}
header nav ul.main-menu a li {
    padding: 20px;
}

/* main-banner start */
.main-banner {
    background: linear-gradient(
        180deg,
        rgba(7, 2, 17, 0.9),
        rgba(7, 2, 17, 0.0)
    ),
    url("./images/main-banner.png");
    width: 1170px;
    height: 500px;
    border-radius: 20px;
    color: var(--whitebg-color);
    text-align: center;
}

.main-banner h1 {
    font-size: 64px;
    font-weight: 800;
    text-transform: capitalize;
    padding-top: 60px;
}
.main-banner p {
    padding: 0% 23%;
    margin: 50px 0px;

}
.main-banner-input {
    margin: 0% 20%;
}
.main-banner .main-banner-input-area {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.40);
    border-radius: 10px;
}
.main-banner .main-banner-input-area .main-banner-input-field {
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    width: 150px;
    color: var(--para-color);
}
.main-banner .main-banner-input-area .btn-explore{
    background-color: var(--primary-color);
    color: var(--whitebg-color);
}
.main-banner .main-banner-input-area .btn-explore:hover{
    background-color: var(--whitebg-color);
    color: var(--primary-color);
}
.main-banner .main-banner-input-area .main-banner-input-field .material-symbols-outlined{
    vertical-align: middle;
    font-size: 22px;
}

/* main-banner end */
/* Popular tour start */
.popular-tour {
    margin: 70px 0px;
}
.popular-tour .container {
    display: flex;
}
.popular-tour .container .popular-tour-left{
    padding-right: 100px;
}
.popular-tour-left h1 {
    color: var(--title-color);
    font-size: 40px;
    font-weight: 800;
    text-transform: capitalize;
}
.popular-tour-left p {
    margin: 20px 0px;
}
.popular-tour-left ul {
    padding-left: 20px;
}
.popular-tour-left ul li {
    list-style: square;
    margin: 20px 0px;
}
.popular-tour-left a button {
    background-color: var(--primary-color);
    color: var(--whitebg-color);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 30px;
}
.popular-tour-left a button:hover {
    background-color: var(--whitebg-color);
    color: var(--primary-color);
}
.popular-tour .container img {
    width: 100%;
}
/* Popular tour end  */
.choose-destination-desc {
    text-align: center;
}
.choose-destination-desc h1 {
    font-size: var(--title-size);
    font-weight: 800;
    color: var(--title-color);
}
.choose-destination-desc p {
    font-size: var(--para-size);
    font-weight: 400;
    padding: 0% 20%;
    margin: 30px 0px;
}

.dest-img-sec-con {
    display: flex;
    gap: 10px;
}
.dest-img-sec {
    position: relative;
}
.dest-img-sec img {
    position: relative;
}
.dest-img-sec h2 {
    position: absolute;
    top: 50%;
    left: 40%;
    color: var(--whitebg-color);
}

/* Popular tour end */
/* why-chhose start */
.why-chhose {
    text-align: center;
    margin: 50px 0px;
}
.why-chhose .container h1 {
    font-size: var(--title-size);
    font-weight: 800;
    color: var(--title-color);
}
.why-chhose .container .why-chhose-para {
    font-size: var(--para-size);
    font-weight: 400;
    padding: 0% 20%;
    margin: 30px 0px;
}
.choose-us-area {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
}
.choose-us-section {
    text-align: left;
}
/* Deals and discount start */
.deals-desc {
    text-align: center;
}
.deals-desc h3 {
    color: var(--title-color);
    font-size: var(--title-size);
    margin: 20px 0px;
}
.deals-desc p {
    padding: 0% 25%;
    margin-bottom: 40px;
}
.deal-img-area {
    background-image: url('./images/deals.png');
    width: 100%;
    height: 500px;
    position: relative;
    margin-bottom: 20px;
}
.deal-inside {
    width: 570px;
    background-color: rgba(255, 255, 255, 0.80);
    position: absolute;
    top: 70px;
    right: 50px;
    border: 1px solid var(--primary-color);
    border-radius: 20px;
    padding: 50px;
}
.deal-icon {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
.deal-inside h2 {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.deal-inside p.desc-deal {
    margin-bottom: 20px;
    padding-right: 80px;
}
.deal-inside h3.deals-price {
    font-size: 20px;
    margin-bottom: 40px;
    color: var(--primary-color);
}
.deal-inside a {
    background-color: var(--primary-color);
    color: var(--whitebg-color);
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.deal-img-areatwo {
    background-image: url('./images/deals.png');
    transform: scaleX(-1);
    width: 100%;
    height: 500px;
    position: relative;
    margin-bottom: 20px;
}
.deal-insidetwo {
    width: 570px;
    background-color: rgba(255, 255, 255, 0.80);
    position: absolute;
    top: 70px;
    right: 50px;
    border: 1px solid var(--primary-color);
    border-radius: 20px;
    padding: 50px;
    transform: scaleX(-1);
}
.deal-insidetwo h2 {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.deal-insidetwo p.desc-deal {
    margin-bottom: 20px;
    padding-right: 80px;
}
.deal-insidetwo h3.deals-price {
    font-size: 20px;
    margin-bottom: 40px;
    color: var(--primary-color);
}
.deal-insidetwo a {
    background-color: var(--primary-color);
    color: var(--whitebg-color);
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.see-all-pkg {
    text-align: center;
    margin: 50px 0px;
}
.see-all-pkg a {
    background-color: var(--primary-color);
    color: var(--whitebg-color);
    padding: 10px 20px;
    border-radius: 10px;
    text-transform: capitalize;
    transition: 1s;
}
.see-all-pkg a:hover {
    background-color: var(--whitebg-color);
    color: var(--primary-color);
    transition: 1s;
}
/* Deals and discount end */
/* perfect place start */
.perfect-place{
    margin: 100px 0px;
}
.perfect-place-area {
    display: flex;
    gap: 20px;
}
.perfect-place-area .left-perfect-place h1{
    font-size: var(--title-size);
    color: var(--title-color);
    margin-bottom: 20px;
}
.perfect-place-area .left-perfect-place p {
    margin-bottom: 20px;
}
.perfect-place-area .left-perfect-place ul {
    padding-left: 30px;
    margin-bottom: 50px;
}
.perfect-place-area .left-perfect-place ul li {
    list-style-type: square;
    margin-bottom: 20px;
}
.perfect-place-area .left-perfect-place a {
    background-color: var(--primary-color);
    color: var(--whitebg-color);
    padding: 10px 20px;
    border-radius: 10px;
}
.perfect-place-area .left-perfect-place a:hover {
    background-color: var(--whitebg-color);
    color: var(--primary-color);
}
.right-perfect-place {
    position: relative;
}
.right-perfect-place img {
    position: relative;
}
.perfect-place-area .right-perfect-place .perfect-place-things {
    color: var(--whitebg-color);
}
.perfect-place-area .right-perfect-place .perfect-place-things h3 {
    position: absolute;
    top: 200px;
    right: 130px;
}
/* perfect place end */
/* <!-- news letter start--> */
.newsletter-area {
}
.newsletter-section {
    width: 100%;
    display: flex;
    gap: 20px;
}
.left-newsletter {
    border: 1px solid var(--primary-color);
    padding: 20px;
    border-radius: 15px;
}

.left-newsletter h3 {
    margin: 20px 0px;
    font-size: 24px;
    color: var(--title-color);
}
.left-newsletter p {
    margin-bottom: 30px;
}
.left-newsletter form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.left-newsletter form input {
    background-color: #F3F3F3;
    padding: 10px 20px;
    border: none;
}
.left-newsletter form button {
    background-color: var(--primary-color);
    color: var(--whitebg-color);
    border: none;
    border-radius: 10px;
    padding: 10px 0px;
}
.left-newsletter form button:hover{
    background-color: var(--whitebg-color);
    color: var(--primary-color);
}
.right-newsletter {
    position: relative; 
}

.right-newsletter .newsletter-discount {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--primary-color);
    color: var(--whitebg-color);
    margin-bottom: 40px;
    margin-right: 10px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transform: rotate(-20deg);
}
.right-newsletter .newsletter-discount a{
    color: var(--whitebg-color);
}
/* <!-- news letter end--> */
/* hero-travels start */
.hero-travels {
    background-color: #F3F3F3; 
    text-align: center;
    padding: 100px 0px;
}

.hero-travels-area a.logo {
    display: flex;
    justify-content: center;
}
.hero-travels-area a.logo h1 {
    color: var(--title-color);
    font-size: var(--title-size)
}
.hero-travels-area a.logo h1 span {
    color: var(--primary-color);
}

.hero-travels-area .here-icons i{ 
    font-size: 24px;
    color: var(--title-color);
}
.hero-travels-area .here-icons i:hover{ 
    color: var(--primary-color)
}
/* hero-travels end */

/* footer start */
footer {
    background-color: #F3F3F3; 
    color: var(--para-color);
    text-align: center;
    padding: 50px 0px;
}
footer strong{
    text-transform: capitalize;
}
/* footer end */